.glow{
     
        font-size: 20px;
        color: white; 
        animation: glow 1s ease-in-out infinite alternate;
        padding-right: 15px;
}
      @keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
        }
        
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px none;
        }
  